---
- name: OS specific variables
  ansible.builtin.include_vars:
    "{{ ansible_distribution | lower }}{{ ansible_distribution_major_version
    }}.yml"

- name: Fail if release is not defined
  ansible.builtin.fail:
    msg:
      "Incompatible release/OS combination. Please check 'release' variable and
      supported OS"
  when: (release is not defined) or (release_url[release] is not defined)

- name: Deploy RedHat-specific
  include: redhat.yml
  when: (ansible_distribution == "RedHat") or (ansible_distribution == "CentOS") or (ansible_distribution == "Scientific") or (ansible_distribution == "AlmaLinux")

- name: Download verification repository files
  ansible.builtin.get_url:
    url: "{{ item }}"
    dest: "{{ sources_dir }}"
    mode: "0644"
  with_items: "{{ verification_repofile | default([]) }}"
  when: verification_repofile is defined

- name: Set up IGTF repository
  ansible.builtin.import_tasks: igtf.yml
  tags:
    - certificates

- name: Run baseline
  ansible.builtin.import_tasks: baseline.yml
